.bgimg{
	position:relative;
	top:0;left:0;
	width:100%;
	height: 100%;
}
.bgclass, .bgclass .register-box {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.bgclass .register-box{
	margin-top:90px;
}
.bgclass .register-box .title {
	color: red;
	font-size: 14px;
}

.bgclass .register-box input {
	color: #333;
	line-height: normal;
	font-family: "Microsoft YaHei", Tahoma, Verdana, SimSun;
	font-style: normal;
	font-variant: normal;
	font-size-adjust: none;
	font-stretch: normal;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	font-size: 15px;
	outline-width: medium;
	outline-style: none;
	outline-color: invert;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	text-shadow: 0px 1px 2px #fff;
	background-attachment: scroll;
	background-repeat: repeat-x;
	background-position-x: left;
	background-position-y: top;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: rgb(255, 255, 255);
	margin-right: 8px;
	border-top-color: #ccc;
	border-right-color: #ccc;
	border-bottom-color: #ccc;
	border-left-color: #ccc;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	height: 40px;
}

.bgclass .register-box input:focus {
	border: 1px solid #fafafa;
	-webkit-box-shadow: 0px 0px 6px #007eff;
	-moz-box-shadow: 0px 0px 5px #007eff;
	box-shadow: 0px 0px 5px #007eff;
}

.bgclass .register-box .username, .bgclass .register-box .pwd, .bgclass .register-box .email,
	.bgclass .register-box .register {
	width: 400px;
}

.bgclass .register-box .username {
	margin-top: 20px;
}

.bgclass .register-box .pwd, .bgclass .register-box .email {
	margin-top: 60px;
}

.bgclass .register-box .code-box {
	text-align: center;
	margin-top: 40px;
}

.bgclass .register-box .code-box .code {
	position: relative;
}

.bgclass .register-box .code-box .code canvas {
	position: relative;
	top: 8px;
	width:180px;
	height: 50px;
	line-height: 50px;
}

.bgclass .register-box .register {
	cursor: pointer;
	margin-top: 20px;
}

.bgclass .register-box .register:hover {
	background-color: red;
	color: rgb(255, 255, 255);
}

.bgclass .register-box .message {
	margin-top: 50px;
	text-align: center;
}

.bgclass .register-box .message span a, .bgclass .register-box .message span a:link,
	.bgclass .register-box .message span a:visited, .bgclass .register-box .message span a:active
	{
	font-size: 12px; text-decoration : none;
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.bgclass .register-box .message span a:hover {
	color: red;
}

.bgclass .register-box .message .m1 {
	margin-right: 5px;
}

.bgclass .register-box .message m3 {
	margin-left: 5px;
}